.App {
  text-align: center;
}

.bg-svg {
  display: block;
  position: fixed;
  width: 100vw;
  height: auto;
  bottom: 0;
  z-index: -1;
}

.dont-panic {
  display: inline-block;
  position: absolute;
  text-align: center;
  color: var(--primary-color);
}

@media (prefers-reduced-motion: no-preference) {
  .dont-panic {
    animation: dont-panic infinite 20s linear;
  }
}

#site-wrap {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
}

#content-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: calc(100vh - var(--header-height))
}

#main-content {
  position: relative;
  display: block;
  background-color: var(--content-bg);
  width: calc(100% - var(--sb-open));
  height: 100%;
  padding: 25px;
}

#main-content h1 {
  color: var(--primary-color)
}

#side-bar {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  width: var(--sb-open);
  height: 100%;
}

#head-bar {
  position: relative;
  background-color: var(--primary-color);
  width: 100vw;
  height: var(--header-height);
}

.App-link {
  color: #61dafb;
}

/*VARIABLES*/
:root {
  --max-width: 2560px;
  --max-page-width: 1920px;
  --header-height: 75px;
  --sb-closed: 50px;
  --sb-open: 300px;
  --border-radius: 12px;
  --primary-color: #07003D;
  --secondary-color: #6033ff;
  --tertiary-color: #ff8008;
  --text-color: #323232;
  --ghost-block-bg: #585858;
  --bg-primary-light: #323232;
  --bg-primary-dark: #232323;
  --bg-default: linear-gradient(var(--bg-primary-light), var(--bg-primary-dark));
  --content-bg: #F2F5FB;
}

@keyframes dont-panic {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
